article {
  width: 50%;
  margin: 0 auto;
  border: 4px solid var(--bg);
  border-radius: 0.5rem;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0em 0.375em 1.125em rgba(0, 0, 0, 0.06);
}

article h1 {
  font-size: 1.6rem;
  font-weight: 400;
}

article p {
  margin: 0;
  font-size: 0.95rem;
  font-weight: 300;
  color: #7e8084;
}

.parrafo {
  margin-bottom: 3.5rem;
}
form {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 3.5rem;
}
input {
  text-align: center;
  color: #757575;
  width: 14%;
  font-size: 4.5rem;
  border: 0.1rem solid #ccc;
  border-radius: 10px;
  font-weight: 600;
}
.autofocus-input:focus {
  border-color: blue !important;
}
span {
  display: block;
  width: 55%;
  margin: 2rem auto;
  font-size: 0.8rem;
  padding: 0.5rem;
  font-weight: 100;
}
@media screen and (max-width: 1024px) {
  article {
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  article {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  article {
    width: 96%;
  }
}

@media screen and (max-width: 411px) {
  input {
    width: 10.5%;
    font-size: 2rem;
  }
  .parrafo {
    margin-bottom: 2rem;
  }
  form {
    margin-bottom: 2rem;
  }

  span {
    width: 70%;
  }
}

.custom_navbar {
  background-color: #ffe600 !important;
}
.vh-90 {
  height: 90vh !important;
}
